*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-font-name{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.containers{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}