*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-font-name{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.containers{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.effect:hover{
background-color: gold;
transition: 0.4s;
}

/* header-section */
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}
.list{
  display: flex;
  list-style: none;
  gap: 24px;
}
.list li a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
}
.btn1{
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #469165;
  cursor: pointer;
  color: #FFFFFF;
  line-height: auto;
  font-size: 16px;
  font-weight: 600px;
}

/* section-01 */
#section-01{
  display: flex;
  padding: 70px 120px 134px 120px;
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 674px;
  justify-content: center;
  align-items: center;
}
.banner{
  text-align: center;
}
.hero button{
  font-size: 16px;
  font-weight: 500;
  color: #276941;
  background-color: #FFFFFF;
  border: none;
  border-radius: 1000px;
  padding: 8px 12px;
  cursor: pointer;
}

.hero h1{
  font-size: 72px;
  font-weight: bold;
  line-height: 84px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.hero h1 .white{
color: #FFFFFF;
}
.hero h1 .green{
color: #30B868;
}
.hero p{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}
.banner-btn{
  margin-top: 32px;
  gap: 16px;
}
.banner-btn-1{
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  background-color: #469165;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.banner-btn-2{
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* section-02 */
#section-02{
  padding: 20px 120px 0 120px;
  text-align: center;
}
.card-head h2{
font-size: 48px;
font-weight: bold;
color: #001931;
margin-bottom: 16px;
}
.card-head p{
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: #627382;
}
.card-box{
  display: flex;
  gap: 24px;
  margin-top: 44px;
}
.card{
  border: none;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 0 4px 0 #00000036;
}
.card h3{
  font-size: 24px;
  font-weight: 600px;
  color: #001931;
  margin: 16px 0;
}
.card p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
.card img{
  background-color: #F95555;
  width: 60px;
  height: 60px;
  border-radius: 40%;
}

/* section-03 */
#section-03{
  padding: 120px;
}
.the-solution{
  display: flex;
  align-items: center;
  gap: 60px;
}
.knowlege img{
width: 600px;
height: 600px;
border: none;
border-radius: 12px;
}
.solution h5{
color: #469165;
font-size: 16px;
line-height: 20px;
font-weight: 500;
}
.solution h2{
  color: #001931;
  font-size: 48px;
  font-weight: bold;
}
.solution p{
color: #627382;
font-size: 16px;
line-height: 20px;
font-weight: 400;
margin-top: 16px;
margin-bottom: 40px;
}

.check-circle {
list-style-type: none;
padding: 0;
}
.check-circle li {
display: flex;
align-items: center;
margin-bottom: 16px;
color: #001931;
font-size: 16px;
font-weight: 500;
line-height: 20px;
}

/* section-04 */
#section-04{
padding: 2px 120px 120px;
}
.ready{
  background-color: #F7F6F2;
  border: none;
  border-radius: 12px;
  padding: 80px 40px;
  text-align: center;
}
.ready h2{
  font-size: 40px;
  font-weight: bold;
  color: #001931;
}
.ready p{
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 24px;
  margin-top: 16px;
}
.section-04-btn{
  margin-top: 24px;
}
/* footer-section */
#footer-section{
  padding: 120px 120px 30px 120px;
  background-color: #001931;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.social-link h4{
font-size: 20px;
font-weight: 500px;
line-height: 28px;
color: #FFFFFF;
margin-bottom: 16px;
}
.social-link a img{
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}
.declaration{
  border-top: 1px solid #469165;
}
.declaration p{
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 30px;
  text-align: center;
}