*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all-font-name{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.containers{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;
}
.list{
  display: flex;
  list-style: none;
  gap: 24px;
}
.list li a{
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
}
.btn1{
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  background-color: #469165;
  cursor: pointer;
  color: #FFFFFF;
  line-height: auto;
  font-size: 16px;
  font-weight: 600px;
}